* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: black;
}
.skill-container {
  width: 350px;
  background-color: silver;
  padding: 20px;
  border-radius: 5px;
  text-align: left;
  margin: 100px 170px;
}

.skill-container li {
  list-style: none;
  padding: 20px;
  font-size: 1.1rem;
  font-family: verdana;
  font-weight: bold;
  position: relative;
}

.skill-container li::before {
  content: "";
  width: 100%;
  height: 15px;
  top: calc(100% + -10px);
  left: 0;
  border-radius: 1000px;

  background-color: rgba(170, 167, 173);
  position: absolute;
}

.skill-container li::after {
  content: "";
  width: 0;
  height: 15px;
  top: calc(100% + -10px);
  left: 0;
  border-radius: 1000px;

  background-color: rgba(249, 249, 250);
  position: absolute;

  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 3;
}

/* Animation Html 
-----------------*/
.skill-container li.html::after {
  animation-name: html;
}

@keyframes html {
  to {
    width: 90%;
    background-color: #00ced1;
  }
}

/* Animation Css 
-----------------*/
.skill-container li.css::after {
  animation-name: css;
}

@keyframes css {
  to {
    width: 85%;
    background-color: #bc8f8f;
  }
}

/* Animation Bootstrap 
-----------------*/
.skill-container li.boot::after {
  animation-name: boot;
}

@keyframes boot {
  to {
    width: 80%;
    background-color: #008080;
  }
}

/* Animation JavaSript 
-----------------*/
.skill-container li.js::after {
  animation-name: js;
}

@keyframes js {
  to {
    width: 75%;
    background-color: #800080;
  }
}

/* Animation Mongodivi 
-----------------*/
.skill-container li.mongo::after {
  animation-name: mongo;
}

@keyframes mongo {
  to {
    width: 70%;
    background-color: #87cefa;
  }
}

/* Animation React 
-----------------*/
.skill-container li.react::after {
  animation-name: react;
}

@keyframes react {
  to {
    width: 65%;
    background-color: #6495ed;
  }
}

/* Animation C++ 
-----------------*/
.skill-container li.c-plus::after {
  animation-name: c-plus;
}

@keyframes c-plus {
  to {
    width: 60%;
    background-color: #5f9ea0;
  }
}
